.barratxt{
    background-color: white;
    border-radius: 50px;
}
label{
    color: white;
    
}
input{
    border: none;
}
#ftema{
    width: 62vh;
}
#fpresenca{
    border-radius: 10px;
    height: 120px;
    resize: none;
    border: none;
}
#fata{
    width: 95%;
    height: 30vh;
    margin-left: 10px;
    border-radius: 10px;
    resize: none;
    border: none;
    text-align: center;

}
.superbarratxt{
    margin-top: 10px;
}
.backbodytxtcont{
    padding-left: 10vh;
}
.backbodytxt{
    border: white solid 1px;
    border-radius: 100px;
    margin-left: 5px;
    width: 28px;
}
.bbt1{
    background-image: url("../styles/images/orang1.jpg");
    background-size: 100%;
}
.bbt2{
    background-image: url("../styles/images/orang2.jpg");
    background-size: 100%;
}
.bbt3{
    background-image: url("../styles/images/orang3.jpg");
    background-size: 100%;
}
.bbt4{
    background-image: url("../styles/images/orang4.jpg");
    background-size: 100%;
}
.bbt5{
    background-image: url("../styles/images/orang5.jpg");
    background-size: 100%;
}
.backbodytxt:hover{
    transform: scale(1.1);
    transition: 0.4s;
}
.backbodytxt:active {
    transform: scale(1.2);
    transition: 0.1s;
}
.buttonexportpdf{
    margin-left: 5px;
    border-radius: 20px;
    background-color: #F38243;
    color: white;
    border: white solid 1px;
}
.buttonexportword{
    margin-left: 10px;
    border-radius: 20px;
    background-color: #FA6900;
    color: white;
    border: white solid 1px;
    text-align: center;
}
.buttonexportword:hover, .buttonexportpdf:hover{
    transform: scale(1.03);
    transition: 0.4s;
}
.buttonexportword:active, .buttonexportpdf:active{
    transform: scale(1.08);
    transition: 0.1s;
}
